.cover-image-container {
  min-height: 30vh;
  background-image: url('../../assets/imgs/henry-be-IicyiaPYGGI-unsplash.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 3vh;

  
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }  
}