.card {
  max-width: 330px;
  box-shadow: 4;

  .card-media {
    margin: 10px auto 0;
    width: 80%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    //position: relative;
  }
  
}

