.app-container {
  text-align: center;
  height: 100vh;
}

.background-image-full {
  background-image: url('./assets/imgs/henry-be-IicyiaPYGGI-unsplash.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}

.background-image-partial {
  background-image: url('./assets/imgs/henry-be-IicyiaPYGGI-unsplash.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 35vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.button {
  text-align: center;
  color: white;
  font-weight: 700;
  background-color: blue;
  border-style: none;
  border-radius: 20px;
  padding: 0.8em 1.5em 0.8em;

  &:hover {
    background-color: #093CB1;
  }
  &:disabled {
    background-color: #093CB1;
  }
}